*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle-local/
organicmaps-*/build/
organicmaps-*/nativeOutputs/
local.properties
.idea/
/.gocache
app/src/main/jniLibs/arm64-v8a/libedgezlibp2p.h
app/src/main/jniLibs/arm64-v8a/libedgezlibp2p.so
app/src/main/jniLibs/armeabi-v7a/libedgezlibp2p.h
app/src/main/jniLibs/armeabi-v7a/libedgezlibp2p.so
app/src/main/jniLibs/x86/libedgezlibp2p.h
app/src/main/jniLibs/x86/libedgezlibp2p.so
app/src/main/jniLibs/x86_64/libedgezlibp2p.h
app/src/main/jniLibs/x86_64/libedgezlibp2p.so
/.gomodcache
